
.Skills {
    width: 98vw;
    height:max-content;
    margin-bottom: 1rem;
    scroll-margin-top: 5.5rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "arr1 arr2 arr3"
    "abj1 abj2 abj3";
    justify-content: center;
    color:beige;
    border-style: solid;
    border-color: blueviolet;
    border-width: 0.05rem;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              /* 0 0 2rem #bc13fe, */
              /* 0 0 0.8rem #bc13fe, */
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.Skill {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-style: dotted;
    border-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 5rem;
}

.SkillCont {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-flow: row;
    grid-area: abj2;
    max-height: fit-content;
    margin-bottom: 1rem;
}

.SkTitle {
    grid-area: arr2;
}

@media only screen and (max-width: 865px) {

    .Skills {
        height: fit-content;
    }

    .SkillCont {
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 770px) {
    .Skills {
        scroll-margin-top: 0.5rem;
    }
}


@media only screen and (max-width: 585px) {

    .Skills {
        grid-template-rows: 0.1fr 1fr;
    }

    .SkillCont {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 1.5rem;
    }
}