

.Home {
    width: 98vw;
    height: 100%;
    scroll-margin-top: 5.5rem;
    margin-bottom: 1rem;
    margin-top: 5.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 1rem;
    color:beige;
    border-style: solid;
    border-color: blueviolet;
    border-width: 0.05rem;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              /* 0 0 2rem #bc13fe, */
              /* 0 0 0.8rem #bc13fe, */
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.Home h1 {
    color:rgb(148, 214, 214);
    font-family: 'Press Start 2P';
}

.Square {
    margin: 1rem 1rem 1rem 1rem;
    border-style: solid;
    border-color: rgb(100, 179, 231);
    border-width: 0.05rem;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
              /* 0 0 .2rem #fff, */
              /* 0 0 2rem #bc13fe, */
              /* 0 0 0.8rem #bc13fe, */
              0 0 2.8rem rgb(100, 179, 231),
              inset 0 0 1.3rem rgb(100, 179, 231);
}

.Sasha img {
    width: 70%;
}

.Info {
    margin-right: 1rem;
    text-align: start;
    padding-left: 1rem;
}

.Info h1 {
    text-align: center;
}

#What {
    font-family: 'Saira Condensed', sans-serif !important;
    color:#cf74f3;
}

@media only screen and (max-width: 965px) {
    .Home {
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .Home {
        grid-template-columns: none;
    }

    .Info {
        text-align: center;
        margin-right:initial;
        padding-left: initial;
    }

    .Square {
        margin: 2rem 2rem 2rem 2rem ;
    }
}